# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
ARCompass/[Ll]ibrary/
ARCompass/[Tt]emp/
ARCompass/[Oo]bj/
ARCompass/[Bb]uild/
ARCompass/[Bb]uilds/
ARCompass/[Ll]ogs/
ARCompass/[Mm]emoryCaptures/
